name: rekrutteringsbistand-bruker-api

on: [push, workflow_dispatch]

jobs:
  build-deploy:
    uses: ./.github/workflows/deploy-toi-template.yaml
    with:
      app_name: ${{ github.workflow }}
      deploy_dev_branch: refs/heads/tilbakemeldinger
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      security-events: write
